
extends ../layouts/default.jade

block breadcrumbs
    ul
        li
            span.fa.fa-align-left
            |  About

block content
    div.submission-detail

        br 

        h2 What is SynBioHub?

        p
            | SynBioHub is a Web application that connects to the 
            a(href='http://sbolstack.org') SBOL Stack
            |, a
            | Sesame Resource Description Framework (RDF) database specifically
            | designed for the storing and publishing of 
            a(href='http://sbolstandard.org') Synthetic Biology Open Language (SBOL)
            |  data.

        p
            | SBOL is an open-source standard for representing genetic designs. It
            | is actively being developed to facilitate the electronic exchange and storage
            | of designs as well as the embedding of genetic designs in publications.
            | The SynBioHub can be used to publish a library of synthetic parts and designs as a
            | service, to share SBOL with collaborators, to publish designs to a journal,
            | and to store designs of biological systems locally.
            
        p
            | Data in SynBioHub can be accessed via its Web interface.
            | This interface contains options to allow users to upload new biological data
            | to the database, to filter the data using a variety of methods, visualize SBOL records, and to download
            | SBOL data to a file.

        h3 Reference

        p
            | Madsen, C., McLaughlin, J. A., Mısırlı, G., Pocock, M., Flanagan, K., Hallinan, J., & Wipat, A. (2016). 
            a(href='http://pubs.acs.org/doi/abs/10.1021/acssynbio.5b00210') The SBOL Stack: A Platform for Storing, Publishing, and Sharing Synthetic Biology Designs. 
            | ACS synthetic biology, 5(6), 487-497.

        br

        p
            a(href='http://ico2s.org',target='_blank')
                img(src='/images/icos.png',style='height: 50px')
            | &nbsp; &nbsp;
            a(href='http://ncl.ac.uk',target='_blank')
                img(src='/images/newcastle-university.png',style='height: 50px')
            | &nbsp; &nbsp;
            a(href='http://utah.edu',target='_blank')
                img(src='/images/university-utah.png',style='height: 50px')


