
extends ../layouts/topLevel.jade

block topLevelPreview
    if attachmentType === 'http://wiki.synbiohub.org/wiki/Terms/synbiohub#imageAttachment'
        img(src=attachmentDownloadURL,style='max-width: 1000px;')
