
extends ../layouts/topLevel.jade

block topLevelButtons
    a.btn.btn-primary(href=sbolUrl)
        span.fa.fa-download
        | 
        span Download SBOL File
    br
    br
    a.btn.btn-primary(href=searchUsesUrl)
        span.fa.fa-search
        | 
        span Find Uses
    br

block topLevelPreview
    if attachmentType === 'http://wiki.synbiohub.org/wiki/Terms/synbiohub#imageAttachment'
        img(src=attachmentDownloadURL,style='max-width: 1000px;')
    else
        a(href=attachmentDownloadURL)
            button.btn.btn-primary.btn-lg
                span.fa.fa-download
                |  Download attachment
    br
    br
