
extends ../layouts/default.jade

include ../mixins/collection.jade

block head
    style.
        body {
            background-color: #f6f6f6;
        }

        .grey-page-mark {
            background-color: #f6f6f6;
        }

        .top-search-form {
            display: none;
        }

        .main-search-form input {
            width: 60%;
            margin-left: 0;
            background-color: white;
            padding: 14px 16px 13px 32px;
        }

        .main-search-form .submit {
            padding: 12px 21px;
        }

        .main-search-form label {
            color: #7F8C8D;
        }

        .search-section {
            height: 60px;
            padding: 20px;
            margin: 0 auto;
            width: 50%;
            margin-bottom: 40px;
            text-align: center;
        }

block breadcrumbs
    ul
        li.inactive
            span.fa.fa-search
            |  Search

block content

    div(align='center').search-section

        form(action='/search').main-search-form
            input.sbh-autocomplete(type='text',name='q',placeholder='Search SynBioHub',value=searchQuery)
            button(type='submit').submit Search

        br
        a(href='/sbsearch') Sequence Search
        |  |  
        a(href='/advancedSearch') Advanced Search
        |  |  
        if (locals.user)
            a(href='/createCollection') Create Collection
            |  |  
        a(href='/sparql') SPARQL
        br


    div.clearfix

    br

    div.search-results-area
        div(style='overflow: hidden; display: none;').vert

        div.facets

        div.search-results-scroll-area
            div.clearfix
            div.search-results

                each collection in collections
                    +collection-item(collection)









