
extends ../layouts/default.jade

block content
    div.container
        div.submission-container(align='center')
            div.submission-header
                span(style='font-size: 3.3em').fa.fa-share
                p(style='font-size: 1.7em; font-weight: bolder')
                    | Create share link
            form.form(method="POST", action="displayShareLink")
                input(type="hidden", name="uri", value=uri)
                div.row
                    div.col-sm-12
                        select(name='privileges' style='width:260px').form-control
                            option(value='1') Allow Viewing
                            option(value='2') Allow Viewing and Editing 
                            option(value='3') Allow Viewing, Editing, and Sharing
                br
                label(for="shareNotes") Optional: what is this share link for?
                textarea.form-control(name="shareNotes", placeholder='This is to remind you later in case you want to revoke it.')
                br
                div.row
                    div.col-sm-12
                        input.btn.btn-info(type="submit", value="Share")

