
extends ../layouts/default.jade

block content

    div.account-container
        div(align='center')
            span.fa.fa-check(style='font-size: 3.5em;')
            p(style='font-size: 1.5em') Enter New Password
            br

        div(align='center')

            if registerAlert
                div.alert.alert-danger #{registerAlert}

            form#user_edit.formbody.span7(accept-charset='UTF-8',action='/setNewPassword',method='post')
                 
                input(style='display:none', type='text', name='fakeusernameremembered')
                input(style='display:none', type='password', name='fakepasswordremembered')

                input(style='display:none', type='hidden', name='token', value=token)

                div.control-group(style='margin-top: 4px')
                    input#password1.sbol-login-text.password-text(name='password1',size='25',type='password',placeholder='Password',autocomplete='off')

                div.clearfix

                div.control-group(style='margin-top: 4px')
                    input#password2.sbol-login-text.password-text(name='password2',size='25',type='password',placeholder='Confirm password',autocomplete='off')

                div.clearfix

                div
                    input(type='submit',class='btn btn-primary',value='Reset')


