
extends componentinstance.jade

block topLevelPropertyTableCont

    tr
        td 
            | Direction
            a(href='http://sbols.org/v2#direction',title='Learn more about direction') 
                span.fa.fa-info-circle
        td
            != meta.direction.id
            a(href=meta.direction.url,title='Learn more about direction') 
                span.fa.fa-info-circle
            br
