
extends ../layouts/topLevel.jade

block topLevelButtons
    a.btn.btn-primary(href=sbolUrl)
        span.fa.fa-download
        | 
        span Download SBOL File
    br
    br
    a.btn.btn-primary(href=searchUsesUrl)
        span.fa.fa-search
        | 
        span Find Uses
    br