
extends ../layouts/topLevel.jade

block topLevelPropertyTable
    if meta.built
        tr
        td 
            | Built
            a(href='http://sbols.org/v2#built',title='Learn more about built') 
                span.fa.fa-info-circle
        td
            a(href=meta.built.url) #{meta.built.name}
