
extends ../layouts/topLevel.jade

block topLevelBelowTitle
    span
    if meta.built 
        h5 Built: 
            a(href=meta.built.url.startsWith(config.databasePrefix)?'/'+meta.built.url.toString().replace(config.databasePrefix,''):meta.built.url.toString()) #{meta.built.name}
