
extends ../layouts/dark.jade

block content

    div.container.container-fluid
        div.row
            div.col-md-2
            div.col-md-8(style='text-align: center;')
                img(src='/images/sbolhub_logo_sl_white.svg').sbh-frontpage-logo

        div.row
            div.col-md-2
            div.col-md-8.sbh-frontpage-blurb
                p 
                    a(href='/About') #{'SynBioHub'} 
                    | is a #[i design repository] for people designing biological constructs.  It enables DNA and protein designs to be uploaded, then provides a shareable link to allow others to view them.  SynBioHub also facilitates searching for information about existing useful parts and designs by combining data from a variety of sources.
        div.row.sbh-main-page-row
            div.col-md-12(style='text-align: center;')
                div.sbh-frontpage-container
                    table.sbh-frontpage-pictures(style='text-align: left;')
                        tr
                            td
                                span.fa.fa-search
                            td
                                h3 #[b Search] for useful parts and designs
                                form(action='search').main-search-form
                                    input.sbh-autocomplete(type='text',name='q',placeholder='      Gene or protein name')
                                    button(type='submit').btn.btn-primary
                                        span.fa.fa-chevron-right
                                    br
                                a.button.btn.btn-primary(href='/browse') Browse Public Designs
                        tr
                            td
                                span.fa.fa-upload
                            td
                                h3 #[b Upload] your design for safekeeping
                                a.button.btn.btn-primary(href='/submit') Submit a Design
                        tr
                            td
                                span.fa.fa-share-alt
                            td
                                h3 #[b Share] designs for publication or collaboration
                                a.button.btn.btn-primary(href='/manage') Manage Submissions


