
extends ../layouts/identified.jade

block topLevelPropertyTable

    if meta.locationStr
        tr
            td 
                | Location
                a(href='http://sbols.org/v2#Location',title='Learn more about Locations') 
                    span.fa.fa-info-circle
            td
                | #{meta.locationStr}
                br

    if meta.sequence.id
        tr
            td 
                | Sequence
                a(href='http://sbols.org/v2#Sequence',title='Learn more about sequences') 
                    span.fa.fa-info-circle
            td
                a(href=meta.sequence.url) 
                    != meta.sequence.id   
                    if (meta.sequence.version)
                        != ' (Version '+meta.sequence.version+')'
                br
