
extends ../layouts/default.jade

block content

    div.account-container
        div(align='center')
            span.fa.fa-times(style='font-size: 3.5em; color:#FF0000;')
            p(style='font-size: 1.5em') Password Reset Error
            br

        div(align='center')
            | #{resetPasswordAlert}
            
            



