
extends ../layouts/default.jade

block content

    div.account-container
        div(align='center')
            span.fa.fa-check(style='font-size: 3.5em;')
            p(style='font-size: 1.5em') E-mail Requested
            br

        div(align='center')
            | If a user was found associated with the specified e-mail address,
            | a link to reset your password has been sent.
            
            



