
extends ../layouts/default.jade

block content

    div.account-container
        div(align='center')
            span.fa.fa-check(style='font-size: 3.5em;')
            p(style='font-size: 1.5em') Forgotten Password
            br

        div(align='center')

            if registerAlert
                div.alert.alert-danger #{registerAlert}

            form#user_edit.formbody.span7(accept-charset='UTF-8',action='resetPassword',method='post')
                 
                input(style='display:none', type='text', name='fakeusernameremembered')
                input(style='display:none', type='password', name='fakepasswordremembered')

                input(type='hidden', name='next', value=nextPage)
                
                input.text(name='utf8',type='hidden',value='✓')

                div.control-group(style='margin-top: 4px')
                    input#email.sbol-login-text.email-text(name='email',size='25',type='email',placeholder='E-mail address',autocomplete='off',value=email)

                div.clearfix

                br
                br

                div
                    input(type='submit',class='btn btn-primary',value='Reset')


