
extends ../layouts/default.jade

block breadcrumbs
    ul
        li
            span.fa.fa-cloud-upload
            |  Select ICE Remote Instance


block content
    div.submission-container(align='center')
        div.submission-header
            span(style='font-size: 3.3em').fa.fa-send
            p(style='font-size: 1.7em; font-weight: bolder')
                | Select ICE Remote Instance
            p
                | #[span(style='font-weight: bolder;') Bold fields] are required
        
        form(action=submission.actionURI,method='post',enctype='multipart/form-data').submission-form

            div.form-group-200.required
                label ICE Remote Instances
                br
                select(name='iceRemote' style="width:650px;" id='iceRemote' data-placeholder='Select an ICE Remote Instance').chosen-select
                    for iceRemote in iceRemotes
                        option(value=iceRemote.id) #{iceRemote.rootCollection.name}

            div.clearfix

            br
            br

            button(type='submit').btn.btn-primary.btn-lg
                | Select ICE Remote Instance

                

