
extends ../layouts/topLevel.jade

include ../mixins/blast-button.jade

block topLevelPreview
    if meta.elements
        div.row
            div.col-md-8
                div.pull-right
                    +blast-button(meta)
                h4 Sequence (#{meta.length} #{meta.lengthUnits})
                pre #{meta.formatted}
