extends ../layouts/default.jade
include ../mixins/search-result.jade

block breadcrumbs
    ul
        li
            span.fa.fa-bolt
            |  Shared with Me

block content
    br
    br
    br
    div.search-results-area
        div(style='overflow: hidden; display: none;').vert

        div.facets

        div.search-results-scroll-area
            div.clearfix
            div.search-results

                each submission in searchResults
                    +search-result-collection(submission)