
extends ../layouts/topLevel.jade

block topLevelButtons
    a.btn.btn-primary(href=sbolUrl)
        span.fa.fa-download
        | 
        span Download SBOL File
    br
    br
    if meta.triplestore != 'public'
        a.btn.btn-success(onclick="popup()")
            span.fa.fa-share
            |  Share
        br
        br
    if meta.triplestore != 'public' && locals.user && locals.user.isCurator
        a.btn.btn-success(href=makePublic)
            span.fa.fa-unlock
                |  Make Public
        br
        br
    if meta.triplestore != 'public'
        a.btn.btn-success(href=meta.url + '/remove')
            span.fa.fa-remove
                |  Remove
        br
        br
