
extends ../layouts/base.jade

block body
    script meta = 
        != JSON.stringify(meta)

    if meta.displayList
        div.container
            div.design-container
                div.col-md-12.text-center
                div#visboldesign