node_modules
db
public/styles/site.css
*.sqlite
config.local.json
.vscode
uploads
public/styles/theme/*.less
*.class
java/target
backup/*.bp
public/logo_uploaded*
synbiohub.log
public/local/*
unzipped/*
jsbml.log





/config.local.json~
