mixin blast-button(sequence)
    form(method='post',enctype='multipart/form-data',action=sequence.blastUrl)
        input(type='hidden',name='QUERY',value=sequence.elements)
        button(type='submit').btn.btn-sm
            span.fa.fa-bomb
            | 
            span BLAST
