
mixin footer()
    span &copy; 2017 #[a(href='http://ncl.ac.uk') Newcastle University] and collaborators
    br
    span
        | #[a(href='http://wiki.synbiohub.org') About SynBioHub]
        | |
        | #[a(href='http://github.com/synbiohub/synbiohub/issues') Report an Issue]
        | | v1.0.1


