
mixin footer()
    span &copy; 2018 #[a(href='http://ncl.ac.uk') Newcastle University], #[a(href='http://utah.edu') University of Utah], and collaborators
    br
    span
        | #[a(href='http://wiki.synbiohub.org') About SynBioHub]
        | |
        | #[a(href='https://github.com/SynBioHub/synbiohub') View Source on Github]
        | |
        | #[a(href='https://github.com/synbiohub/synbiohub/issues') Report an Issue]
        | | v1.3.0


