
extends ./default.jade

block breadcrumbs
    ul
        li
            span.fa.fa-cogs
            |  Admin

block content

        br
        br

        div.container-fluid
            div.row
                div.col-md-2
                    ul.nav.nav-pills.nav-stacked
                        li(role='presentation',class=(adminSection==='status'?'active':''))
                            a(href='/admin/') Status
                        li(role='presentation',class=(adminSection==='users'?'active':''))
                            a(href='/admin/users') Users
                        li(role='presentation',class=(adminSection==='mail'?'active':''))
                            a(href='/admin/mail') Mail
                        if config.experimental.dataIntegration
                            li(role='presentation',class=(adminSection==='jobs'?'active':''))
                                a(href='/admin/jobs') Jobs
                        li(role='presentation',class=(adminSection==='graphs'?'active':''))
                            a(href='/admin/graphs') Graphs
                        //li(role='presentation',class=(adminSection==='sparql'?'active':''))
                            a(href='/admin/sparql') SPARQL
                        li(role='presentation',class=(adminSection==='remotes'?'active':''))
                            a(href='/admin/remotes') Remotes
                        li(role='presentation',class=(adminSection==='registries'?'active':''))
                            a(href='/admin/registries') Registries
                        //li(role='presentation',class=(adminSection==='caches'?'active':''))
                            a(href='/admin/caches') Caches
                        li(role='presentation',class=(adminSection==='theme'?'active':''))
                            a(href='/admin/theme') Theme
                        if config.experimental.dataIntegration
                            li(role='presentation',class=(adminSection==='integrations'?'active':''))
                                a(href='/admin/integrations') Integrations
                        li(role='presentation',class=(adminSection==='backup'?'active':''))
                            a(href='/admin/backup') Backup
                        //li(role='presentation',class=(adminSection==='update'?'active':''))
                            a(href='/admin/update') Update 
                div.col-md-8
                    block adminContent
                div.col-md-1

