
extends base.jade

block body

    body.home-bg

        div.top-bar
            div.content

                if section != 'index'
                    a(href='/')
                        div.pull-left.sbol-logo-white-single-line

                    div.pull-left
                        form(action='/search').top-search-form
                            input(type='text',name='q',placeholder='Search SynBioHub',value=(searchQuery || ''))
                            button(type='submit').submit Search

                div.pull-right.menu
                    ul
                        li
                            a(href='/submit')
                                span.fa.fa-cloud-upload
                                | &nbsp &nbsp;
                                span.white-text Submit
                        li
                            a(href='/about')
                                span.fa.fa-info-circle
                                | &nbsp &nbsp;
                                span.white-text About

                        if locals.user
                            li
                                a(href='/manage')
                                    span.fa.fa-align-left
                                    | &nbsp &nbsp;
                                    span.white-text Submissions
                            if config.experimental.dataIntegration
                                li
                                    a(href='/jobs')
                                        span.fa.fa-tasks
                                        | &nbsp &nbsp;
                                        span.white-text  Jobs
                            if locals.user.isAdmin
                                li
                                    a(href='/admin')
                                        span.fa.fa-cogs
                                        | &nbsp &nbsp;
                                        span.white-text Admin
                            li
                                a(href='/logout')
                                    span.fa.fa-power-off
                        else
                            li
                                a(href='/login')
                                    span.fa.fa-lock
                                    | &nbsp &nbsp;
                                    span.white-text Login or Register

                div.clearfix

                block intro
                block content

                div.clearfix

                div(align='center').footer-bar.fixed.home-page-footer
                    p &copy; 2017 #[a(href='http://ncl.ac.uk') Newcastle University]. Design by #[a(href='http://antarctic-design.co.uk') Antarctic Design].



