
extends base.jade

include ../mixins/footer.jade

block body

    body
        block modal

        nav.navbar.navbar-fixed-top
            div.content
                a(href='/')
                    if config.instanceLogo
                        img.pull-left.instance-logo(src=config.instanceLogo,height=50)
                    else
                        div.pull-left
                            h1(style='margin-left: 15px;') #{config.instanceName}

                if section != 'search'
                    div.pull-left
                        form(action='search').top-search-form
                            input.sbh-autocomplete(type='text',name='q',placeholder=('Search ' + config.instanceName) value=(searchQuery || ''))
                            button(type='submit').submit Search

                div.pull-right.menu
                    ul
                        li
                            a(href='/submit')
                                span.fa.fa-cloud-upload
                                span.blue-text  Submit
                        li
                            a(href='/about')
                                span.fa.fa-info-circle
                                span.blue-text  About

                        if locals.user
                            li
                                a(href='/manage')
                                    span.fa.fa-align-left
                                    span.blue-text  Submissions
                            if config.experimental.dataIntegration
                                li
                                    a(href='/jobs')
                                        span.fa.fa-tasks
                                        span.blue-text  Jobs
                            if locals.user.isAdmin
                                li
                                    a(href='/admin')
                                        span.fa.fa-cogs
                                        span.blue-text  Admin
                            li
                                a(href='/logout')
                                    span.fa.fa-sign-out
                        else
                            li
                                a(href='/login')
                                    span.fa.fa-sign-in
                                    span.blue-text  Login or Register


        div.clearfix

        block intro

        div.sbol-breadcrumbs
            block breadcrumbs

        block content

        div.clearfix

        div(align='center').footer-bar.home-page-footer.blue-text.grey-page-mark
            +footer()



