
extends base.jade

include ../mixins/footer.jade

block body

    body
        block modal

        nav.navbar.navbar-fixed-top
            div.content
                a(href='/')
                    if config.instanceLogo
                        img.pull-left.instance-logo(src=config.instanceLogo,height=50)
                    else
                        div.pull-left
                            h1(style='margin-left: 15px;') #{config.instanceName}

                div.pull-right.menu
                    ul
                        li
                            a(href='/submit', title='Submit')
                                span.fa.fa-cloud-upload
                                span.blue-text.hidden-xs.hidden-sm  Submit

                        if locals.user
                            li
                                a(href='/shared', title='Shared with Me')
                                    span.fa.fa-bolt
                                    span.blue-text.hidden-xs.hidden-sm  Shared with Me
                            li
                                a(href='/manage', title='Manage Submissions')
                                    span.fa.fa-align-left
                                    span.blue-text.hidden-xs.hidden-sm  Submissions
                            if config.experimental.dataIntegration
                                li
                                    a(href='/jobs', title='Manage Jobs')
                                        span.fa.fa-tasks
                                        span.blue-text.hidden-xs.hidden-sm  Jobs
                            if locals.user.isAdmin
                                li
                                    a(href='/admin', title='Administration')
                                        span.fa.fa-cogs
                                        span.blue-text.hidden-xs.hidden-sm  Admin
                            li
                                a(href='/profile', title='Edit Profile') 
                                    span.fa.fa-id-card
                                    span.blue-text.hidden-xs.hidden-sm  Profile 
                            li
                                a(href='/logout', title='Sign Out')
                                    span.fa.fa-sign-out
                                    span.blue-text.hidden-xs.hidden-sm  Sign Out
                        else
                            li
                                a(href='/login')
                                    span.fa.fa-sign-in
                                    span.blue-text.hidden-xs.hidden-sm  Login or Register


        div.clearfix

        block intro

        div.sbol-breadcrumbs(style="display: flex")
            block breadcrumbs
            ul(style="flex-grow: 1")
                li(style="width: 100%; height: 100%")
                    form(action='/search').top-search-form
                        input.sbh-autocomplete(type='text',name='q',placeholder=('Search ' + config.instanceName) value=(searchQuery || ''),style="width: 91%")
                        button.inactive(type='submit').submit
                            span.fa.fa-search

        block content

        div.clearfix

        div(align='center').footer-bar.home-page-footer.blue-text.grey-page-mark
            +footer()



