
extends ../../layouts/admin.jade

block adminContent
    table.table.table-striped
        thead
            th Date
            th # Files
            th Total Size
        tbody
            for backup in backups
                tr
                    td #{backup.date}
                    td #{backup.files.length}
                    td #{backup.size}
    form(method='post',action='/admin/backup')
        button.btn.btn-primary(type='submit') Create Backup


    

