
extends ../../layouts/admin.jade

block adminContent
    table.table.table-striped
        thead
            th Date
            th # Files
            th Total Size
            th
        tbody
            for backup in backups
                tr
                    td #{backup.date}
                    td #{backup.files.length}
                    td #{backup.size}
                    td
                        form(method='post',action='/admin/backup/restore/' + backup.prefix)
                            button.btn.btn-danger(type='submit') Restore
    form(method='post',action='/admin/backup')
        button.btn.btn-primary(type='submit') Create Backup


    

