
extends ../../layouts/admin.jade

block adminContent
    form(action='/admin/general', method='POST', id="generalForm")
        div.row
            div.col-md-6
                div.form-group
                    label(for='instanceName') Instance URL
                    input.form-control(type='text', name='instanceUrl', value=config.instanceUrl)
            div.col-md-6
                div.form-group
                    label(for='databasePrefix') Database Prefix
                    input.form-control(type='text', name='databasePrefix', value=config.databasePrefix)
        div.row 
            div.col-md-12 
                div.checkbox
                    label
                        input(type='checkbox', name="allowPublicSignup", checked=config.allowPublicSignup) 
                        | Allow Public Account Creation
        div.row
            div.col-md-1.col-md-offset-11
                button.btn.btn-primary(type='submit') Save
