
extends ../../layouts/admin.jade

block adminContent
    form(action='/admin/general', method='POST', id="generalForm")
        div.row 
            div.col-md-12 
                div.alert.alert-info 
                    span.fa.fa-check-circle-o 
                    span &nbsp; Note: the database prefix and instance URL should both end with a '/' character, and should match in almost every case.
        div.row
            div.col-md-12
                div.form-group
                    label(for='instanceName') Instance URL
                    input.form-control(type='text', name='instanceUrl', value=config.instanceUrl)
        div.row 
            div.col-md-12 
                div.checkbox
                    label
                        input(type='checkbox', name="allowPublicSignup", checked=config.allowPublicSignup) 
                        | Allow Public Account Creation
        div.row
            div.col-md-6
                div.form-group
                    label(for='SBOLExplorerEndpoint') SBOLExplorer Endpoint
                    input.form-control(type='text', name='SBOLExplorerEndpoint', value=config.SBOLExplorerEndpoint)
            div.col-md-6 
                div.checkbox
                    label
                        input(type='checkbox', name="useSBOLExplorer", checked=config.useSBOLExplorer) 
                        | Searching Using SBOLExplorer
        div.row
            div.col-md-1.col-md-offset-11
                button.btn.btn-primary(type='submit') Save
