
extends ../../layouts/admin.jade

block adminContent
    table.table.table-striped.sbh-datatable
        thead
            tr
                th Graph URI
                th # Triples
        tbody
            each graph in graphs
                tr
                    td
                        code #{graph.graphUri}
                    td #{graph.numTriples}



