extends ../../layouts/admin.jade

block adminContent
    div
        h3 Rendering
        table.table.table-striped
            thead
                tr
                    th ID
                    th Status
                    th Name
                    th URL
                    th
                    th
            tbody
                for plugin in plugins.rendering
                    tr
                        td
                            p#id #{plugin.index + 1}
                        td
                        td
                            input.form-control#name(type='text', value=plugin.name, style="width:100%")
                        td
                            input.form-control#url(type='text', value=plugin.url, style="width:100%")
                        td
                            btn.btn.btn-success.btn-block.save-rendering-plugin Save
                        td
                            btn.btn.btn-danger.btn-block.delete-rendering-plugin Delete
                tr
                    td
                        p#id New
                    td
                    td
                        input.form-control#name(type='text', placeholder="Name", style="width:100%")
                    td
                        input.form-control#url(type='text', placeholder="URL", style="width:100%")
                    td(colspan="2")
                        btn.btn.btn-success.btn-block.save-rendering-plugin Save

    div
        h3 Submission
        h6 Submission plugins are not currently supported
    div
        h3 Download
        h6 Download plugins are not currently supported

