
.setup {

    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.setup h1 {
    font-size: 14pt;
    text-align: center;

}

.setup h2 {
    font-size: 14pt;
    font-weight: bold;

}


.setup-done {
    width: 150px;
    height: 70px;

}


